.article-item,
.article-content,
.bbg-comment-area,
.page-content,
.tag-content {
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 16px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 60%),
    0 2px 2px 0 rgb(0 0 0 / 36%), 0 1px 5px 0 rgb(0 0 0 / 32%);
  opacity: 0.8;
  border-radius: 12px;
}

ref {
  display: none;
}

info-hint,
warning-hint,
success-hint,
danger-hint {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  background-color: rgb(235, 234, 234);
}

.hint-heading {
  font-size: 110%;
}

info-hint .hint-heading {
  color: #0550ae;
}

warning-hint .hint-heading {
  color: #ae8105;
}

success-hint .hint-heading {
  color: #1b6e08;
}

danger-hint .hint-heading {
  color: #ae2105;
}

info-hint {
  border-left: #0550ae solid 2px;
}

warning-hint {
  border-left: #ae8105 solid 2px;
}

success-hint {
  border-left: #1b6e08 solid 2px;
}

danger-hint {
  border-left: #ae2105 solid 2px;
}

.article-content {
  word-break: break-all;
}

.articlebottomnav {
  background-color: white;
  box-shadow: 0 1px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 36%), 0 1px 5px 0 rgb(0 0 0 / 32%);
  opacity: 0.8;
  border-radius: 12px;
}

.nav-item-active {
  border-bottom: 2px solid white;
}

.nav-item:hover {
  border-bottom: 2px dashed white;
}

.friend-card {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 60%),
    0 2px 2px 0 rgb(0 0 0 / 36%), 0 1px 5px 0 rgb(0 0 0 / 32%);
  border-radius: 12px;
  flex-direction: row;
}

.friend-card-img {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  max-width: 100%;
  height: 100%;
  max-height: 136px;
}

@media (max-width: 1050px) {

  #empty_friend_book_list {

    display: none;


  }



}

@media (max-width: 520px) {
  #article-bottom-bar {
    display: none;
  }
}

.article_tag {
  border-radius: 40px;
  color: white;
  border: none;
}

.article_tag::before {
  content: "#";
}

.article-item-sub,
.article-content-sub {
  color: lightslategray;
}

nav {
  opacity: 0.9;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  padding: 0 !important;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;

}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bolder;
}

a {
  text-decoration: none;
}


@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

table,
thead,
tr,
th,
td {
  border: 1px solid #ddd;
  padding-left: 15px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
}